@model AssignmentEAP.Models.DisciplineStudent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DisciplineStudent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Discipline_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discipline_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DisciplineStudent_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
