@model AssignmentEAP.Models.Student

@{
    ViewBag.Title = "Details";
    var student = Model;
}

<h2>Details</h2>
<div class="row" style="margin: 0px 0px 20px 5px;">
    <div class="col-lg-12">
        <div class="col-lg-7 mb-6 position-relative" style="padding-left: 25px;margin: 0 auto;">
            <input type="text" name="datefilter" id="datefilter" value="" class="form-control input-custom col-lg-12" data-id="@student.RollNumber" />
            <i class="far fa-calendar-alt text-gray position-absolute icon-calendar"></i>
        </div>
    </div>

    <div class=" row col-lg-12" style="margin-top: 30px;">
        <div class="col-lg-7" style="padding-left: 25px;margin: 0 auto;">
            <b class="col-lg-3">Count: <span id="late-counter"></span> times</b>
            <b class="col-lg-5">Money: <span id="total-money"></span></b>
            <b class="col-lg-4">Push-Up: <span id="total-pushup"></span> times</b>
        </div>
    </div>
</div>
<div class="col-lg-12 text-center">
    <div id="chart_div" class="col-lg-12"></div>
</div>

<div class="col-lg-12">
    <div class="card" style="border-radius: 0px; margin-right: 15px;margin-left: 15px;">
        <div class="card-body">
            <div class="card-title mb-4">
                <div class="d-flex justify-content-start">
                    <div class="image-container">
                        <img src="@student.Avatar" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                    </div>
                    <div class="userData ml-3">
                        <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold;"><a>@student.Student_Name</a></h2>
                        <h6 class="d-block" style="margin-bottom: 30px;">Class: <a href="/Classes/Details/@student.Class.Class_Id">@student.Class.Class_name</a></h6>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.RollNumber }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Discipline</a>
                        </li>
                    </ul>
                    <div class="tab-content ml-1" id="myTabContent">
                        <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Full Name</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    @student.Student_Name
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Birth Date</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    @student.Birthday.ToString("d")
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Email</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    @student.Email
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Phone</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    @student.Phone
                                </div>
                            </div>
                            <hr />

                        </div>
                        <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Total count:</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    <span>@student.DisciplineStudents.Count</span><span> times</span>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Total money:</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    <span>@ViewBag.TotalMoney</span>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Total push-up:</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    <span>@ViewBag.TotalPushUp</span><span> times</span>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script>
        $(function () {
            var rollNumber = $('#datefilter').data('roll');

            var startDate = new Date();
            startDate.setFullYear(startDate.getFullYear() - 1);
            var endDate = new Date();

            var startPara = getParameterFromUrl('start');
            if (startPara != null) {
                startDate = new Date(startPara);
            }
            var endPara = getParameterFromUrl('end');
            if (endPara != null) {
                endDate = new Date(endPara);
            }
            $('input[name="datefilter"]').daterangepicker({
                autoUpdateInput: true,
                startDate: startDate,
                endDate: endDate,
                locale: {
                    cancelLabel: 'Clear'
                },
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [
                        moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')
                    ]
                }
            });

            $('input[name="datefilter"]').on('apply.daterangepicker',
                function (ev, picker) {
                    var start = picker.startDate.format('YYYY-MM-DD');
                    var end = picker.endDate.format('YYYY-MM-DD');
                    window.location.href = window.location.href.split('?')[0] + '?start=' + start + '&end=' + end;
                });

            $.ajax({
                url: `/Students/GetChartData?roll=${rollNumber}&start=${startPara}&end=${endPara}`,
                type: 'GET',
                success: function (responseData) {
                    
                    google.charts.load('current', { 'packages': ['line', 'corechart'] });
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                        var chartDiv = document.getElementById('chart_div');

                        var data = new google.visualization.DataTable();
                        data.addColumn('date', 'Month');
                        data.addColumn('number', "Money");
                        data.addColumn('number', "Push-up");
                        var total = 0, totalMoney = 0, totalPushUp = 0;
                        for (var i = 0; i < responseData.length; i++) {
                            data.addRow([new Date(responseData[i].Date), responseData[i].Money, responseData[i].PushUp]);
                            total += responseData[i].Count;
                            totalMoney += responseData[i].Money;
                            totalPushUp += responseData[i].PushUp;
                        }
                        $('#late-counter').html(total);
                        totalMoney = totalMoney.toLocaleString('it-IT', {style : 'currency', currency : 'VND'});
                        $('#total-money').html(totalMoney);
                        $('#total-pushup').html(totalPushUp);
                        var classicOptions = {
                            //title: 'Thống kê số tiền (push-up) đi học muộn của sinh viên',
                            series: {
                                0: { targetAxisIndex: 0 },
                                1: { targetAxisIndex: 1 }
                            },
                            vAxes: {
                                0: { title: 'Money (VND)' },
                                1: { title: 'Push-up (times)' }
                            },
                            hAxis: {
                            },
                            vAxis: {
                            }
                        };
                        function drawClassicChart() {
                            var classicChart = new google.visualization.LineChart(chartDiv);
                            classicChart.draw(data, classicOptions);
                        }
                        drawClassicChart();
                    }
                }
            });

        });

        function getParameterFromUrl(parameter) {
            var url_string = window.location.href;
            var url = new URL(url_string);
            return url.searchParams.get(parameter);
        }
    </script>
}

